VITE_FIREBASE_API_KEY=your_api_key
VITE_FIREBASE_AUTH_DOMAIN=texmorro-c6c76.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=texmorro-c6c76
VITE_FIREBASE_STORAGE_BUCKET=texmorro-c6c76.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=942262670790
VITE_FIREBASE_APP_ID=1:942262670790:web:aec64957c1078190018ec7
VITE_FIREBASE_MEASUREMENT_ID=G-3KXZMCXC6S
